Source: kyoscand
Section: graphics
Priority: extra
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Build-Depends:
 debhelper (>= 7),
 cdbs,
Standards-Version: 3.8.3
Homepage: http://cmp.felk.cvut.cz/~pisa/#linuxgoodies

Package: kyoscand
Architecture: any
Depends: ${misc:Depends}
Description: Kyocera Scan System F Receiver Daemon
